.check-list {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;

    li {
        &::before {
            font-family: FontAwesome;
            content: "\f00c";
            margin-right: map.get($spacers, 2);
        }
    }
}