.education-list {
	margin-bottom: 0;
	padding-left: 0;

	list-style-type: none;

	li {
		margin-bottom: map.get($spacers, 3);

		font-size: map.get($font-sizes, 5);

		&::before {
			margin-right: map.get($spacers, 2);

			font-family: FontAwesome, sans-serif;

			content: "\f19d";
		}

		p {
			margin: 0;
			padding-left: map.get($spacers, 7);

			font-size: map.get($font-sizes, 6);

			&.period {
				font-size: $font-size-sm;
			}
		}
	}
}
