.footer-list {
	display: flex;
	flex-direction: column;
	gap: map.get($spacers, 4);
	justify-content: center;

	list-style: none;

	@media (min-width: 768px) {
		flex-direction: row;
	}

	.fas {
		font-family: FontAwesome, sans-serif;
	}
}
