$font-sizes: map-merge(
    $font-sizes,
    (
        7: $font-size-base * 6,
        8: $font-size-base * 5,
    )  
);

$spacers: map-merge(
    $spacers,
    (
        6: $spacer * 6,
        7: $spacer * 2,
    )
);

$theme-colors: map-merge(
    $theme-colors,
    (
        "dark": $gray-800,
    )  
);